.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem 0 5rem;
    background: transparent;
    width: 100%;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
    margin: 0;
}
.active{
  position: fixed;
  top: 0;
  background: #000b5c;
  padding-bottom: 20px;
  z-index: 99999;
}
/* header .sticky .navbar{
  height: calc(2.5rem + 1rem);
}
header .navbar{
  transition: .3s linear;
} */
.logo{
  width: 50px;
  padding-right: 20px;
}
.logo-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-close-btn{
    display: none;
  }
  .nav-list li{
    padding-left: 15px;
  }
.social-icons-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .social-icons-btn > span{
  padding-right: 10px;
  font-weight: 500;                           
} */

.social-icons-btn a:hover{
  color: #ff5100;
}
.stories{
  margin-left: 10px;
}
