.svg {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    margin: 0;
    padding: 20px 0 50px 0;
    background-color: whitesmoke;
}

.container h1 {
    text-align: center;
    font-weight: bold;
    color: #000b5c;
}

.testimonials {
    margin: 0rem 10rem 0rem 10rem;
    padding: 50px 50px;
    background-color: white;
    border-radius: 20px;
}
.testimonials:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease 1s;
}
.testimonials hr{
    background-color: #000b5c;
    height: 3px;
    width: 15%;
    margin: 0 auto;
    border: none;
}
.testimonial-section {
    margin: 0 auto;
    width: 50%;
}

.testimonials-img {
    width: 140px;
    border-radius: 50%;
    margin-right: 45px;
}

.testimonial {
    padding-top: 25px;
}

.arrow {
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: #777;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
}

.arrow:hover {
    background-color: #ff5100;
    color: white;
}

.prev {
    top: 10rem;
}

.next {
    right: -55rem;
    top: 10rem;
}
.testimonials-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
blockquote{
    position: relative;
}
blockquote:before {
    position: absolute;
    content: open-quote;
    font-size: 4em;
    color: #000b5c;
    margin-left: -0.6em;
    margin-top: -0.4em;
  }
  blockquote:after {
    position: absolute;
    content: close-quote;
    font-size: 4em;
    bottom: 0;
    right: 0;
    color: #000b5c;
    margin-right: -0.5em;
    margin-bottom: -0.9em;
  }
  blockquote p {
    display: inline;
  }