:root{
    --scroll-bar-color: #c5cadf;
    --scroll-hover-color: #454f6b;
    --scroll-thumb-color: #70768a;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
}
.btn{
    padding: 8px 15px 8px 15px;
    border: none;
    border-radius: 20px;
    background: #f06926;
    color: white;
  }
  ::-webkit-scrollbar{
    width: 12px;
    background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 1.5em;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-hover-color);
}