*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn{
    padding: 8px 15px 8px 15px;
    border: none;
    border-radius: 20px;
    background: #f06926;
    color: white;
  }
